.footer {
    background-color: #096ea2 !important;
    /* background-color: #43B047; */
    font-size: 2rem;
    border: 0;
    padding: 0;
    color: white;
}

a {
    color: #000000;
}

p {
    font-size: 16px;
}

.navbar-brand {
    border: 0;
    padding: auto;
    margin: auto 10;
    /* font-family: 'Bangers', cursive; */
    font-size: 2rem;
}

.nav-item {
    /* font-family: 'Montserrat', sans-serif; */
    /* border: 0;
    padding: 5 0; */
    margin: auto 15px auto auto;
    float: right;
}

.navButton {
    padding: 0px 0px 0px 10px;
}